* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style-type: none;
}

#root {
  width: 100vw;
  min-height: 89.625rem;
  padding: 9.313rem 3.75vw 7.688rem 6.25vw;
  background-color: var(--pale-grey);
}

.App {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  gap: 10px;
  width: 87.5vw;
  min-height: 68.563rem;
  margin: 0 2.5vw 4.063rem 0;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 0 0 60px 0 var(--black-5);
}

.appTitle {
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--azure);
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2.563rem;
}

.navbar a {
  text-decoration: none;
  height: 1rem;
  margin: 1.125rem 0 0.688rem 0;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
  opacity: 0.5;
}

.appHeader {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 20px;
  width: 87.5vw;
  height: 10rem;
  margin: 0 0 2.375rem;
  padding: 1.438rem 6.188vw 1.688rem 6.25vw;
  background-color: var(--white-two);
}

.top {
  align-self: flex-start;
}

.navbar .active {
  opacity: 1;
}

.appBody {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 10px;
  height: 100%;
}

.center {
  text-align: center;
}

.navbar .red {
  color: red;
}

@media only  screen and (min-width: 420px) {
  .appHeader {
    flex-flow: row;
    justify-content: flex-start;
    height: 5.938rem;
  }
}
