:root {
  --pale-grey: #f5f6fa;
  --black-5: rgba(0, 0, 0, 0.05);
  --white: #fafafa;
  --white-two: #fff;
  --azure: #0290ff;
  --white-three: #e8e8e8;
  --very-light-pink: #c4c4c4;
  --medium-blue: #307bbe;
}

body {
  display: flex;
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
