.bookItem {
  border-radius: 4px;
  border: solid 1px var(--white-three);
  background-color: var(--white-two);
  padding: 2rem 7.438vw 1.625rem 1.688vw;
  display: flex;
  flex-flow: column;
  gap: 3.68vw;
  width: 75vw;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.left {
  display: flex;
  flex-flow: column;
  gap: 1.313rem;
}

.bookCaract {
  display: flex;
  flex-flow: column;
  gap: 0.25rem;
}

.bookCategory {
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
  opacity: 0.5;
}

.bookTitle {
  font-family: "Roboto Slab", serif;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #121212;
}

.bookAuthor {
  font-family: "Roboto Slab", serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.bookInter ul {
  display: flex;
  flex-flow: column;
  gap: 0.938vw;
  text-align: center;
}

.btnEvent {
  cursor: pointer;
  font-family: "Roboto Slab", serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
  border: none;
  background-color: transparent;
}

.middle {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 5px;
  border-bottom: solid 1px var(--white-three);
  padding-right: 5.75vw;
}

.middle_right {
  display: flex;
  flex-flow: column;
  gap: 5px;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.separator {
  height: 1.5rem;
  color: var(--white-three);
  display: none;
}

.rectangule {
  width: 5.625rem;
  height: 5.62rem;
  padding: 0.62rem 0.625rem 0.75rem 0.75rem;
}

.big {
  font-size: 2rem;
}

.light {
  opacity: 0.5;
}

.right {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
}

.currentHolder {
  opacity: 0.5;
  font-family: "Roboto Slab", serif;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.currentname {
  margin-bottom: 1rem;
  font-family: "Roboto Slab", serif;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #121212;
}

.btnPlacehoder {
  max-width: 11.5rem;
  min-height: 2.063rem;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border-radius: 3px;
  background-color: var(--azure);
  cursor: pointer;
  font-family: "Roboto Slab", serif;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: var(--white-two);
  border: none;
}

@media only  screen and (min-width: 300px) {
  .bookInter ul {
    flex-flow: row;
  }

  .separator {
    display: inline-block;
  }

  .middle {
    flex-flow: row;
  }
}

@media only  screen and (min-width: 700px) {
  .bookInter ul {
    flex-flow: column;
  }

  .separator {
    display: none;
  }

  .middle {
    border-bottom: none;
    border-right: solid 1px var(--white-three);
    align-items: center;
  }

  .bookItem {
    padding: 45px 20px;
    display: grid;
    column-gap: 3.68vw;
    justify-content: stretch;
    grid-template-columns: 1.5fr 1fr 1.5fr;
  }
}

@media only  screen and (min-width: 830px) {
  .bookInter ul {
    flex-flow: row;
  }

  .separator {
    display: inline-block;
  }
}
